.addcomponent,.displaytask,.taskcount{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
    width: 450px;
    padding: 10px;
}
.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 10px;
}
form{
    display: grid;
    justify-content: center;
    align-items: center;
}
input[type="date"],input[type="text"]{
    height: 30px;
    width: 250px;
    margin: 5px;
}
button{
    height: 35px;
    width: 50px;
}
.TaskItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}